In [1]:
import tensorflow as tf

In [2]:
import pandas as pd

In [6]:
columns = ['Index','Input_I'
,'Input_O'
,'Input_T'
,'Input_S'
,'Input_Z'
,'Input_J'
,'Input_L'
,'Input_1'
,'Input_2'
,'Input_3'
,'Input_4'
,'Input_5'
,'Input_6'
,'Input_7'
,'Input_8'
,'Input_9'
,'Input_10'
,'Input_11'
,'Input_12'
,'Input_13'
,'Input_14'
,'Input_15'
,'Input_16'
,'Input_17'
,'Input_18'
,'Input_19'
,'Input_20'
,'Input_21'
,'Input_22'
,'Input_23'
,'Input_24'
,'Input_25'
,'Input_26'
,'Input_27'
,'Input_28'
,'Input_29'
,'Input_30'
,'Input_31'
,'Input_32'
,'Input_33'
,'Input_34'
,'Input_35'
,'Input_36'
,'Input_37'
,'Input_38'
,'Input_39'
,'Input_40'
,'Input_41'
,'Input_42'
,'Input_43'
,'Input_44'
,'Input_45'
,'Input_46'
,'Input_47'
,'Input_48'
,'Input_49'
,'Input_50'
,'Input_51'
,'Input_52'
,'Input_53'
,'Input_54'
,'Input_55'
,'Input_56'
,'Input_57'
,'Input_58'
,'Input_59'
,'Input_60'
,'Input_61'
,'Input_62'
,'Input_63'
,'Input_64'
,'Input_65'
,'Input_66'
,'Input_67'
,'Input_68'
,'Input_69'
,'Input_70'
,'Input_71'
,'Input_72'
,'Input_73'
,'Input_74'
,'Input_75'
,'Input_76'
,'Input_77'
,'Input_78'
,'Input_79'
,'Input_80'
,'Input_81'
,'Input_82'
,'Input_83'
,'Input_84'
,'Input_85'
,'Input_86'
,'Input_87'
,'Input_88'
,'Input_89'
,'Input_90'
,'Input_91'
,'Input_92'
,'Input_93'
,'Input_94'
,'Input_95'
,'Input_96'
,'Input_97'
,'Input_98'
,'Input_99'
,'Input_100'
,'Input_101'
,'Input_102'
,'Input_103'
,'Input_104'
,'Input_105'
,'Input_106'
,'Input_107'
,'Input_108'
,'Input_109'
,'Input_110'
,'Input_111'
,'Input_112'
,'Input_113'
,'Input_114'
,'Input_115'
,'Input_116'
,'Input_117'
,'Input_118'
,'Input_119'
,'Input_120'
,'Input_121'
,'Input_122'
,'Input_123'
,'Input_124'
,'Input_125'
,'Input_126'
,'Input_127'
,'Input_128'
,'Input_129'
,'Input_130'
,'Input_131'
,'Input_132'
,'Input_133'
,'Input_134'
,'Input_135'
,'Input_136'
,'Input_137'
,'Input_138'
,'Input_139'
,'Input_140'
,'Input_141'
,'Input_142'
,'Input_143'
,'Input_144'
,'Input_145'
,'Input_146'
,'Input_147'
,'Input_148'
,'Input_149'
,'Input_150'
,'Input_151'
,'Input_152'
,'Input_153'
,'Input_154'
,'Input_155'
,'Input_156'
,'Input_157'
,'Input_158'
,'Input_159'
,'Input_160'
,'Input_161'
,'Input_162'
,'Input_163'
,'Input_164'
,'Input_165'
,'Input_166'
,'Input_167'
,'Input_168'
,'Input_169'
,'Input_170'
,'Input_171'
,'Input_172'
,'Input_173'
,'Input_174'
,'Input_175'
,'Input_176'
,'Input_177'
,'Input_178'
,'Input_179'
,'Input_180'
,'Input_181'
,'Input_182'
,'Input_183'
,'Input_184'
,'Input_185'
,'Input_186'
,'Input_187'
,'Input_188'
,'Input_189'
,'Input_190'
,'Input_191'
,'Input_192'
,'Input_193'
,'Input_194'
,'Input_195'
,'Input_196'
,'Input_197'
,'Input_198'
,'Input_199'
,'Input_200'
,'Input_201'
,'Input_202'
,'Input_203'
,'Input_204'
,'Input_205'
,'Input_206'
,'Input_207'
,'Input_208'
,'Input_209'
,'Input_210'
,'Input_211'
,'Input_212'
,'Input_213'
,'Input_214'
,'Input_215'
,'Input_216'
,'Input_217'
,'Input_218'
,'Input_219'
,'Input_220'
,'Output_I'
,'Output_O'
,'Output_T'
,'Output_S'
,'Output_Z'
,'Output_J'
,'Output_L'
,'Output_0 Degrees'
,'Output_90 Degrees'
,'Output_180 Degrees'
,'Output_270 Degrees'
,'Output_X1'
,'Output_X2'
,'Output_X3'
,'Output_X4'
,'Output_X5'
,'Output_X6'
,'Output_X7'
,'Output_X8'
,'Output_X9'
,'Output_X10'
]

In [7]:
df = pd.read_csv('TetrisPlayData.csv')

In [8]:
df.columns = columns

In [10]:
df.head()

,Index,Input_I,Input_O,Input_T,Input_S,Input_Z,Input_J,Input_L,Input_1,Input_2,...,Output_X1,Output_X2,Output_X3,Output_X4,Output_X5,Output_X6,Output_X7,Output_X8,Output_X9,Output_X10
0,2,0,0,0,0,0,1,0,0,0,...,1,0,0,0,0,0,0,0,0,0
1,3,0,0,0,0,0,1,0,0,0,...,1,0,0,0,0,0,0,0,0,0
2,4,0,0,0,0,0,1,0,0,0,...,1,0,0,0,0,0,0,0,0,0
3,5,0,0,0,0,0,1,0,0,0,...,1,0,0,0,0,0,0,0,0,0
4,6,0,0,0,0,0,1,0,0,0,...,1,0,0,0,0,0,0,0,0,0